@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne:wght@700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #3b64b6;
  padding: 1.5rem;
}

nav.menu ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style-type: none;
}
  
nav.menu li > a {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

h2 {
  font-size: 3rem;
  margin-bottom: .5rem;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  border-bottom: 1px solid #d3d3d3;
}

section#home > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-default {
  padding: 1rem 3rem;
  border: 1px solid #3c63b5;
  border-radius: 50px;
  color: #ffffff;
  background-color: #3c63b5;
  font-size: 1rem;
  margin: 1.8rem 0;
}

section#planos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

div#table-container {
  overflow-x: auto;
  width: 100%;
}

section#planos table {
  border-collapse: collapse;
  text-align: center;
  min-width: 450px;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
}

td, th {
  border: 1px solid #d3d3d3;
  padding: .75rem;
}

tbody th {
  text-align: left;
}

footer p {
  text-align: center;
  padding: 2rem 0;
  color: #808080;
  font-size: 14px;
}

#float-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#float-button > img {
  width: 60px;
}

@media screen and (min-width: 580px) {
  nav.menu ul {
    flex-direction: row;
    gap: 2rem;
  }
}

@media screen and (min-width: 769px) {
  nav.menu li a:hover {
    color: #b5e1ff;
    text-decoration: underline;
  }

  section {
    padding: 3rem;
  }

  section img {
    width: 70%;
  }
 
  .btn-default:hover {
    cursor: pointer;
    font-weight: bold;
  }
}

@media screen and (min-width: 980px) {
  section {
    padding: 3.5rem;
    min-height: 600px;
  }

  section img {
    max-width: 550px;
  }
  
  section h2 {
    margin-bottom: 5px;
  }

  section#home {
    flex-direction: row-reverse;
    gap: 20px;
  }
  
  section#home > div {
    align-items: flex-start;
  }
  
  section#quem-somos {
    flex-direction: row;
    gap: 2rem;
  }
  
  section#quem-somos > img {
    width: 50%;
  }

  section#quem-somos > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 550px;
  }

  section#quem-somos h2 {
    text-align: left;
  }
  
  #float-button {
    right: 30px;
  }
  
  #float-button > img {
    width: 64px;
  }
}